[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pprintpp = "*"
jsonschema = "*"
pandas = "*"
pandas-stubs = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi = "*"
mypy = "*"
pyright = "*"
tabulate = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test_all = "pytest tests  -x"
test_all_verbose = "pytest tests -v -x"
test_all_parallel = "pytest tests -n=auto  -x"
